@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Poppins:wght@200;400;600&display=swap');



body {
    font-family: 'Epilogue', sans-serif;
    margin: 0%;
    padding: 0%;
}


.big-block-daddy{
    width: 1440px;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

ol li a {
    display: block;
    padding: 1.7rem;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-size: 16px;
}

ol {
    list-style: none;
    display: flex;
    margin-left: 0px;
    font-size: large;
    text-decoration: none;
    color: hsl(0, 0%, 8%)
}

.block-big {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.block-left-main {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    margin-left: 100px;
    align-items: flex-start;
    justify-content: space-between;
}

h1 {
    font-size: 90px;
    margin-top: 11rem;
}

p {
    font-size: 18px;
    line-height: 30px;
    color:hsl(0, 0%, 41%);
}

.block-right-img img {
    width: 580px;
}

.block-left{
    background-color: none;
}



a:hover{
    color: hsl(0, 0%, 8%)

}

.learn-more {
   font-size: 18px;
   color: white;
   text-decoration: none;
   background-color: black;
   border-radius: 15px;
   padding: 15px 20px;
}

.grey-logo-block{
margin-top: 8rem; 
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}

.test li:nth-child(2) a{
    border: black 2px solid;
    border-radius: 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* dropdown */



  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
    padding: 10px;
  }

  .dropdown-content img{
    margin-right: 10px;
  }

  .dropdown-content a {
    color: hsl(0, 0%, 41%);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.todo .planning .reminders .calendar{
    display: flex;
    justify-content: space-between;
}